:root {
    --main: #2A97DF;
    --bg: #1A1F26;
    --text: #45494F;
    --lightText: #F9F9FA;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--lightText);
    padding: 3em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 50px 0px;
    color: var(--main);
}
h2 {
    margin: 20px 0px;
}
label.username {
    color: var(--text);
    font-size: 1.2rem;
    letter-spacing: .5px;
    line-height: 1.5;
}
input.username {
    margin-top: .5em;
    width: 200px;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border 200ms ease-in-out;
}
input:hover {
    border: 2px solid var(--main);
}
input::placeholder {
    color: #aaa;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    position: relative;
}
.btn {
    margin: .5em 0;
    background: var(--main);
    color: var(--lightText);
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--main);
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1px;
    line-height: 2;
    outline: none;
    cursor: pointer;
    transition: all 200 ease-in-out;
}
.btn:hover {
    color: var(--main);
    background: var(--lightText);
}
/*+++++++++
    GAME
+++++++++*/
#displayClock {
    position: absolute;
    top: -1em;
    left: 0;
    background: var(--lightText);
    width: 10em;
    height: 30px;
    padding: 7px;
    text-align: center;
    color: var(--text);
    border-radius: 5px;
    box-shadow: -4px 4px 0px 1px var(--text);
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: rgb(216, 212, 212);
    padding: .5em;
    margin-top: 1em;
}
.buttonImage{
    width: 100px;
    height: 100px;
    margin: .5em;
    margin-bottom: 0;
}
.hiddenButton{
    visibility: hidden;
}
.backImage{
    background-color: var(--main);
    width:100%;
    height: 100%;
    opacity:0%;
    outline: none;
    transition: all 0.5s ease-in-out;
}
.showBackground{
    opacity:100%;
}
/*++++++++++++
    SIDEBAR
++++++++++++*/
.sidebar {
    min-height: 350px;
    background: var(--lightText);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2em;
}
.sidebar > h2 {
    margin-bottom: 1em;
    color: var(--text);
    font-weight: 300;
}
.sidebar__user {
    margin: .5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sidebar__user > h4 {
    color: var(--text);
    font-weight: 700;
}
.sidebar__user > p {
    color: var(--text);
    font-weight: 300;
}
/*++++++++++++++++
    MEDIA QUERY
++++++++++++++++*/
@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 3em;
    }
    .sidebar {
        margin-left: 2em;
    }
}