* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    padding: 3em 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.btn {
    display: inline-block;
    background: black;
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 200 ease-in-out;
}
.btn:hover {
    border: 1px solid black;
    color: black;
    background: white;

}

#start, #final {
    margin: 100px;
    padding: 100px 20px;
    justify-content: center;
}

#userLabel {
    display: inline-block;
    margin: 5px;
   
}

#username {
    margin: 5px;
    width: 200px;
    border-radius: 2px;
}

#startBtn, #finalBtn {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background: black;
    color: white;
    width: 200px;
    border-radius: 5px;
    
}
h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 50px 0px;
}
h2 {
    margin: 20px 0px;
}

#gameContainer{
    width: 50%;
}

#game{
    display: flex;
    justify-content: center;
    width: 100%;

}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    padding: 2%;
    background-color: rgb(216, 212, 212);
}



.buttonImage{
    width: 20%;
    height: 5.5em;
    margin: 2.5%;
}
.hiddenButton{
    visibility: hidden;
}

.backImage{
    background-color: #223344;
    width:100%;
    height: 100%;
    opacity:0%;
    transition: all 0.5s ease-in-out  ;
}

.showBackground{
    opacity:100%;
}

/*++++++++++++++++
    INITIAL PAGE
++++++++++++++++*/
#inputContainer {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0 2em;
    margin-bottom: 1em;
    border-radius: 5px;
}
#inputContainer > h1 {
    font-size: 2em;
}
#userLabel {
    display: inline-block;
    margin: 5px;
}
#username {
    width: 200px;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
/*++++++++++++
    SIDEBAR
++++++++++++*/
.sidebar {
    min-height: 350px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}
.sidebar > h2 {
    margin-bottom: 1em;
}
.sidebar__user {
    margin: .5em 0;
}
/*++++++++++++++++
    MEDIA QUERY
++++++++++++++++*/
@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }
    .container {
        flex-direction: row;
        align-items: center;
    }
    #inputContainer {
        margin-bottom: 0;
        padding: 0 4em;
    }
    .sidebar {
        margin-left: 2em;
    }
}